In [201]:
import numpy as np
import pandas as pd
import scipy
import math
import heapq

# Plotting tools
import pyLDAvis
import pyLDAvis.sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [202]:
chunksize = 320 #approximately 23644157 entries; wc -l bay_area.csv

df = pd.DataFrame()
curr_chunk = 0
data=pd.read_csv('bay_area.csv', sep='\t', chunksize=chunksize)

for chunk in data:
    rand_person = chunk.sample(n=1)
    df = pd.concat([df, rand_person])
    
    # log progress
    curr_chunk += 1
    if curr_chunk % 10000 == 0:
        print(curr_chunk)

df.columns = [i for i in range(len(df.columns))]

# drop entries with poor data
df = df.dropna(subset=[17, 18])
df

10000
20000
30000
40000
50000
60000
70000

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
319,9a198910-11dd-3641-8ff6-1830a9a03ac0,1981,2,-1,0.000000,-1,0.000000,San Mateo,United States,7,...,False,"livermore, ca",92,False,NaN,False,NaN,NaN,NaN,1540512888000
2161,e56c378b-2158-3292-ae36-e7836c748fe9,1969,0,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,"beverly hills, costa mesa, boston",31,False,NaN,False,NaN,NaN,NaN,1540111954000
3794,7f2f6b28-8ee9-3ed1-a8a2-cf0ac6e92d6b,2001,2,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,NaN,611310,False,NaN,False,NaN,NaN,NaN,1534734981000
4646,783c7c66-b3c5-3411-8799-03d67552e797,1979,2,-1,0.000000,-1,0.000000,San Francisco,United States,5,...,False,"tampa/st. petersburg, florida area",NaN,False,NaN,False,NaN,NaN,NaN,1532134613000
6047,38d07dd6-f611-3145-b363-0a4ef84a48ba,1981,2,-1,0.000000,-1,0.000000,NaN,Indonesia,4,...,False,"greater jakarta area, indonesia",NaN,False,NaN,False,NaN,NaN,NaN,1533121658000
6924,c1eeb54e-d256-351f-becc-d5901a58c862,1970,1,Administration,0.487604,Pharmaceutical,0.137303,NaN,United Kingdom,5,...,True,"manchester, united kingdom",NaN,False,NaN,False,NaN,NaN,BBG000P5DRT5,1496781882000
8114,d2d9b5ad-965c-39b7-af38-2a05f5a501b1,1965,2,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1538850995000
8758,49fe9f08-244a-3e3d-9d8b-2fe2f59c5870,1987,0,-1,0.000000,-1,0.000000,Hyderabad,India,4,...,True,greater san diego area,334413,False,NaN,False,NaN,NaN,BBG000CGC1X8,1538842674000
8963,e2c8c3fa-15c2-3adc-ab95-a1503741a8ea,1983,1,-1,0.000000,-1,0.000000,San Francisco,United States,0,...,False,bay area,56,False,NaN,False,NaN,NaN,NaN,1538952095000
9935,f9bc8941-bf95-354b-ba6f-88f426d3fda6,2001,1,-1,0.000000,-1,0.000000,San Francisco,United States,0,...,True,NaN,561320,False,NaN,False,NaN,NaN,BBG000BS5DR2,1538818315000
10542,a28f29d4-23a2-3f38-a841-a0fe27206858,1982,2,Web Development,0.435665,Business Development,0.384697,Menlo Park,United States,7,...,False,"stanford, ca",611310,False,NaN,False,NaN,NaN,NaN,1538876302000
12069,f2c42fa5-223b-34f1-bfac-4c3813553f7f,1979,0,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,uc berkeley & stanford,611710,False,NaN,False,NaN,NaN,NaN,1530644507000
12229,109ee6ff-9239-3553-8495-df7453a5273f,1963,1,Middle Management,0.347996,Operations Management,0.249237,San Francisco,United States,4,...,False,NaN,519130,False,NaN,False,NaN,NaN,NaN,1540058746000
13200,108982d9-49fb-3cde-a611-3c9360ecf5e8,2001,0,-1,0.000000,-1,0.000000,Durham,United States,4,...,False,"research triangle park, nc",NaN,False,NaN,False,NaN,NaN,NaN,1540091596000
14666,a269336d-c798-3570-acc9-9019f7f945b7,1995,0,-1,0.000000,-1,0.000000,NaN,United States,0,...,False,"mountain view, california",NaN,False,NaN,False,NaN,NaN,NaN,1536772456000
14903,0e4b970f-a881-370c-b740-d8017e4158c7,1985,0,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,san francisco bay area,71,False,NaN,False,NaN,NaN,NaN,1538867090000
15278,f252ea18-3b28-35db-acd1-dc736a6d0f59,1967,1,Non-Profit and Community,0.836427,Administration,0.062829,San Francisco,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1514309930000
15624,6e2e9d48-feed-3d73-969b-e09265af677e,2001,2,Sales Management,0.406542,Social Media and Communications,0.237209,NaN,United States,0,...,False,oakland ca,NaN,False,NaN,False,NaN,NaN,NaN,1529846428000
15786,89aa5421-3c7a-395c-ae74-cdde4fdce3d7,1963,0,Administration,0.239824,Education,0.145642,NaN,United States,4,...,False,san francisco bay area,53,False,NaN,False,NaN,NaN,NaN,1530658536000
18550,2849ead1-7a99-38a4-8fbb-6a96747c8e91,1970,2,Web Development,0.572988,Data Analysis,0.138290,Gothenburg,Sweden,5,...,False,"g√∂teborg, sverige",NaN,False,NaN,False,NaN,NaN,NaN,1528124003000
20726,4da8c5b1-370f-3f6c-80fb-837c3a130d2f,1973,1,-1,0.000000,-1,0.000000,San Francisco,United States,5,...,True,NaN,334412,False,NaN,False,NaN,NaN,BBG000P9PKY3,1538849820000
21210,d935e803-096a-3c0c-90e2-d8cd7efe2e87,1985,2,-1,0.000000,-1,0.000000,Detroit,United States,4,...,False,"berkley, mi",NaN,False,NaN,False,NaN,NaN,NaN,1538933224000
23023,e048a87d-0270-3d20-9a3f-ad9966590979,2001,0,-1,0.000000,-1,0.000000,NaN,Venezuela,0,...,False,"zona industrial, ii etapa, san francisco - mar...",NaN,False,NaN,False,NaN,NaN,NaN,1541225141000
23998,4c981a0b-c85c-38e2-b60f-ff69c33c6a6b,1982,2,-1,0.000000,-1,0.000000,San Jose,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1538819317000
24429,9749fa21-6ed1-3323-9b44-d26d956cdf6f,1982,1,-1,0.000000,-1,0.000000,Atlanta,United States,5,...,False,greater atlanta area,56,False,NaN,False,NaN,NaN,NaN,1538830682000
25486,49ecf492-610c-3bf5-b25e-3ffe91a87b15,1967,2,Business Development,0.410577,Logistics,0.138566,Detroit,United States,4,...,False,"taylor, mi",31,False,NaN,False,NaN,NaN,NaN,1539759627000
25992,78d6df80-4c66-3e87-b14a-0b19f2e7c26d,2001,1,-1,0.000000,-1,0.000000,San Francisco,United States,0,...,False,"mountain view, california",48,False,NaN,False,NaN,NaN,NaN,1538834074000
26654,cb0f0198-81a4-31d5-802d-6d915ab50ee3,1978,2,Legal,0.659264,Video and Film Production,0.311805,Seattle,United States,7,...,False,"minneapolis, mn",611310,False,NaN,False,NaN,NaN,NaN,1540979429000
27200,994a61b2-0248-30c9-a976-3b6039ae5b63,1982,2,Visual Design,0.911529,Retail and Fashion,0.055588,NaN,United States,4,...,False,"london, united kingdom",NaN,False,NaN,False,NaN,NaN,NaN,1539599259000
27745,633cd9ba-5277-3e97-9fd0-53ff765e7397,1975,1,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,NaN,611310,False,NaN,False,NaN,NaN,NaN,1541044624000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23615412,2cda65a1-63ee-39a8-8bc7-221419a82ed2,2001,0,-1,0.000000,-1,0.000000,Madison,United States,5,...,False,"minneapolis, mn",611310,False,NaN,False,NaN,NaN,NaN,1530326747000
23617735,601409ec-2aca-355a-8267-1c7b9b11b325,1979,2,-1,0.000000,-1,0.000000,Chicago,United States,7,...,False,"chicago, il",519130,False,NaN,False,NaN,NaN,NaN,1530285654000
23619031,5a0e8bc2-2521-321e-8f2f-75c4d6bb723d,1972,2,-1,0.000000,-1,0.000000,NaN,India,4,...,True,"bengaluru area, india",541511,False,NaN,False,NaN,NaN,BBG000CT9HP8,1532555041000
23619495,a21cccdb-cde7-3ff2-8487-3654f3a12119,1990,1,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,"san diego, california",81,False,NaN,False,NaN,NaN,NaN,1538812801000
23619768,75e845c7-7478-3862-99a2-fcfbd628a22a,1969,1,-1,0.000000,-1,0.000000,San Francisco,United States,5,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1538854025000
23619936,14dd867b-5660-36cd-90fa-5a0664e09e67,1993,2,Web Development,0.571178,Software Engineering,0.153928,Davis,United States,4,...,False,"davis, california",61,False,NaN,False,NaN,NaN,NaN,1538833788000
23620537,e04d8c34-b889-346f-9a8e-2a6d64b79c73,1969,1,Banking and Finance,0.989531,Insurance,0.006904,Los Angeles,United States,4,...,True,NaN,522110,False,NaN,False,NaN,NaN,BBG000BBXJ95,1538970076000
23621397,53e3e7d5-ef89-3090-8efb-71fb413f0eee,1968,2,-1,0.000000,-1,0.000000,Auckland,New Zealand,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1540074944000
23622118,8bd84737-5967-3d06-9916-31d1b63d16d6,1964,2,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1539910501000
23622660,7fbb02a1-a62a-3cfd-a9ce-6b4a851f850f,1972,2,Social Media and Communications,0.508803,Musical Production,0.232917,Los Angeles,United States,0,...,True,"orange county, california area",517210,False,NaN,False,NaN,NaN,BBG004S5X3Y9,1534472358000
23622828,db844863-ee45-39b7-9033-53bbd9ae49a2,1985,0,Web Design,0.286624,Graphic Design,0.246109,Siegen,Germany,5,...,False,"siegen area, germany",54,False,NaN,False,NaN,NaN,NaN,1524876977000
23624726,318f853e-0be4-364f-b1e6-f74573b4dcaa,1973,1,-1,0.000000,-1,0.000000,San Francisco,United States,4,...,False,san francisco bay area,NaN,False,NaN,False,NaN,NaN,NaN,1530626155000
23625342,f37e38b7-b490-3e49-bb4f-bf5d3f6710a5,2001,0,-1,0.000000,-1,0.000000,Oakland,United States,4,...,False,NaN,611310,False,NaN,False,NaN,NaN,NaN,1529940202000
23626405,4cfe3e4f-799f-3740-8a55-64d5370634c7,2001,2,-1,0.000000,-1,0.000000,San Francisco,United States,7,...,False,NaN,61,False,NaN,False,NaN,NaN,NaN,1539470453000
23626875,f3e4b4c6-df5a-35b9-8aff-a4b4dd9b2172,2001,1,-1,0.000000,-1,0.000000,New York City,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1530282888000
23629667,ef08bd1c-c39d-30d6-a338-e6ab6e3bbe6e,1993,0,Social Media and Communications,0.208080,Administration,0.175119,Los Angeles,United States,3,...,False,united states,31,False,NaN,False,NaN,NaN,NaN,1538993230000
23630385,54abfb6c-301c-37b4-b4bc-35c3806cbd26,1969,0,Digital Marketing,0.366189,Video and Film Production,0.330604,Austin,United States,4,...,False,NaN,71,False,NaN,False,NaN,NaN,NaN,1545479644000
23631977,d37584c7-fd66-3c26-9690-80f91e9e5bfb,2001,2,Hospitality,0.999879,Business Development,0.000035,Tallahassee,United States,0,...,True,"whitel plains, ny",721110,False,NaN,False,NaN,NaN,BBG000C2MB11,1540897133000
23632251,197cc886-1535-31ac-b0e4-ac6eb67ffefe,1991,0,-1,0.000000,-1,0.000000,NaN,United States,4,...,False,NaN,611310,False,NaN,False,NaN,NaN,NaN,1546692712000
23632777,f4538f89-747f-3782-b648-b244e36f0937,1956,2,-1,0.000000,-1,0.000000,Sarasota,United States,4,...,False,"sarasota, florida area - manatee county",NaN,False,NaN,False,NaN,NaN,NaN,1525865970000
23633693,c791c49f-63b5-3a47-9e03-5b945343b8b5,1986,1,-1,0.000000,-1,0.000000,Vancouver,Canada,4,...,False,NaN,611310,False,NaN,False,NaN,NaN,NaN,1539673432000
23634420,fe2fdf1a-96c5-3853-9e33-b2794efa48b3,1980,1,Sales,0.275864,Business Development,0.208416,NaN,Albania,5,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1525127734000
23634635,dc8683a7-0137-385e-bb9e-5b3b404ce81e,1980,2,Business Development,0.284632,Sales Management,0.144831,Sacramento,United States,4,...,False,"irvine, ca",42,False,NaN,False,NaN,NaN,NaN,1538962792000
23634951,f6bbb349-64cc-3bdf-84bb-e600479cac8d,1937,2,-1,0.000000,-1,0.000000,East Tawas,United States,4,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1502235172000
23636063,5d1cbd2c-5a72-3565-b7d1-258d136e8cef,2001,0,-1,0.000000,-1,0.000000,San Francisco,United States,0,...,False,NaN,NaN,False,NaN,False,NaN,NaN,NaN,1538860526000
23636930,2c75a1f7-9975-3532-b1e5-0ff8290d6460,1971,2,-1,0.000000,-1,0.000000,Denver,United States,4,...,False,"boulder, co",NaN,False,NaN,False,NaN,NaN,NaN,1539985374000
23638872,d735baaf-275d-31d6-877d-4195a0798f22,2001,1,Construction Management,0.422854,Middle Management,0.223247,San Francisco,United States,4,...,True,san francisco bay area,236117,False,NaN,False,NaN,NaN,BBG000BN5HF7,1540953651000
23639604,8bfa39e8-1494-3cf8-b04c-97ff3f3fe655,1978,2,-1,0.000000,-1,0.000000,Austin,United States,7,...,False,NaN,21,False,NaN,False,NaN,NaN,NaN,1538946768000
23640688,40326760-b461-3b9e-8d55-74f36e865bbd,1974,2,Social Media and Communications,0.405638,Administration,0.194861,San Francisco,United States,5,...,False,"marion, il -- san diego, ca",8111,False,NaN,False,NaN,NaN,NaN,1540068659000
23643356,3ab060a8-a515-392a-a010-b04e0ed815a2,1981,2,Data Analysis,0.696113,Software Engineering,0.131998,Ithaca,United States,7,...,False,"london, united kingdom",NaN,False,NaN,False,NaN,NaN,NaN,1540508157000

In [203]:
# see one entry of data
df.iloc[7]

0        49fe9f08-244a-3e3d-9d8b-2fe2f59c5870
1                                        1987
2                                           0
3                                          -1
4                                           0
5                                          -1
6                                           0
7                                   Hyderabad
8                                       India
9                                           4
10                                      False
11                                 2012-06-01
12                                       True
13                                 2014-02-01
14                                       True
15                                      False
16                                        610
17    Software Consultant,software,consultant
18                                 TECHNOLOGY
19                                   Qualcomm
20                                   Qualcomm
21                                       QCOM
22                                       XNAS
23                                       True
24                     greater san diego area
25                                     334413
26                                      False
27                                        NaN
28                                      False
29                                        NaN
30                                        NaN
31                               BBG000CGC1X8
32                              1538842674000
Name: 8758, dtype: object

In [ ]:
def heuristic(prof_x, prof_y):
    score = 0
    # check if job titles (regular and normalized) and departement are the same
    if prof_x[17].split(',')[0] == prof_y[17].split(',')[0]:
        score += 2
    if prof_x[17].split(',')[-1] == prof_y[17].split(',')[-1]:
        score += 2
    if prof_x[18].split(',')[0] == prof_y[18].split(',')[0]:
        score += 1
    # check if company's are the same
    if prof_x[19] == prof_y[19]:
        score += 3
    # check if primary and secondary industry's are the same
    if prof_x[3] != '-1' and prof_x[3] == prof_y[3]:
        score += 1
    if prof_x[5] != '-1' and prof_x[5] == prof_y[5]:
        score += 0.5
    # check education
    if prof_x[9] > 0 and prof_x[9] == prof_y[9]:
        score += 1
        if prof_x[10] == prof_y[10]:
            score += 1
    return score

In [ ]:
best_profiles = {}
profiles = {}
top_k_profiles = 2
for row in df.iterrows():
    curr_matches = []
    for curr_row in df.iterrows():
        if curr_row[0] != row[0]:
            curr_score = heuristic(row[1], curr_row[1])
            if len(curr_matches) < top_k_profiles:
                curr_id = curr_row[1][0]
                heapq.heappush(curr_matches, (curr_score, curr_id))
            else:
                curr_id = curr_row[1][0]
                heapq.heappushpop(curr_matches, (curr_score, curr_id))
    profile_id = row[1][0]
    profiles[profile_id] = row
    best_profiles[profile_id] = curr_matches

In [ ]:
best_profiles

In [199]:
print(profiles['3b0a8a0c-b49a-3ee8-b071-422554a3b9b9'][1])
print(profiles['846d43b8-3ea6-3c36-8fca-84539eab93d2'][1])

0     3b0a8a0c-b49a-3ee8-b071-422554a3b9b9
1                                     1981
2                                        1
3                     Software Engineering
4                                 0.794306
5                   Electrical Engineering
6                                 0.132796
7                                 San Jose
8                            United States
9                                        5
10                                   False
11                              2014-07-01
12                                    True
13                              2017-06-01
14                                    True
15                                   False
16                                    1066
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                       Intel Corporation
20                       Intel Corporation
21                                    INTC
22                                    XNAS
23                                    True
24                         santa clara, ca
25                                  334413
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000C0G1D1
32                           1538826586000
Name: 97550, dtype: object
0     846d43b8-3ea6-3c36-8fca-84539eab93d2
1                                     1986
2                                        0
3                                       -1
4                                        0
5                                       -1
6                                        0
7                            San Francisco
8                            United States
9                                        5
10                                   False
11                              2018-02-01
12                                    True
13                                    None
14                                   False
15                                    True
16                                     342
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                                  VMware
20                                  VMware
21                                     VMW
22                                    XNYS
23                                    True
24                  san francisco bay area
25                                  541512
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000BC9938
32                           1536949222000
Name: 162212, dtype: object

In [149]:
for i in best_profiles:
    if len(best_profiles[i]) > 0:
        print(profiles[i])
        for j in best_profiles[i]:
            print(profiles[j])

(20081, 0     f0c03235-e0e4-3b93-8d10-fad8de38f2f4
1                                     2001
2                                        2
3                          Web Development
4                                 0.977094
5                     Software Engineering
6                                0.0171799
7                                 San Jose
8                            United States
9                                        0
10                                   False
11                              2014-02-01
12                                    True
13                                    None
14                                   False
15                                    True
16                                    1803
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                                   Apple
20                                   Apple
21                                    AAPL
22                                    XNAS
23                                    True
24                               cupertino
25                                  334220
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000B9XRY4
32                           1538827690000
Name: 20081, dtype: object)
(55412, 0     b22542fc-6e03-36ad-86f9-f52103ba5a8b
1                                     1987
2                                        0
3                          Web Development
4                                 0.549404
5                     Software Engineering
6                                  0.16007
7                                 San Jose
8                            United States
9                                        5
10                                   False
11                              2013-08-01
12                                    True
13                              2014-07-01
14                                    True
15                                   False
16                                     334
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                               Capgemini
20                               Capgemini
21                                     CAP
22                                    XPAR
23                                    True
24                   hyderabad area, india
25                                      54
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000BBY7M5
32                           1538848436000
Name: 55412, dtype: object)
(38516, 0                  26414450-03d1-3a79-b18c-2609ba12afb6
1                                                  1979
2                                                     1
3                                        Graphic Design
4                                              0.963145
5                                            Web Design
6                                             0.0141406
7                                             San Diego
8                                         United States
9                                                     4
10                                                False
11                                           2009-01-01
12                                                False
13                                           2010-01-01
14                                                False
15                                                False
16                                                  365
17    Freelance Graphic Designer,freelance graphic d...
18                                            MARKETING
19                                   KidsFest San Diego
20                                             kidsfest
21                                                  NaN
22                                        UNITED STATES
23                                                False
24                                                  NaN
25                                                   71
26                                                False
27                                                  NaN
28                                                False
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                        1530717212000
Name: 38516, dtype: object)
(64995, 0                  8964cce8-d882-3810-8465-1b5d53dbeea4
1                                                  1971
2                                                     1
3                                        Graphic Design
4                                              0.947713
5                                  Business Development
6                                             0.0188703
7                                             Avon Park
8                                         United States
9                                                     4
10                                                False
11                                           2010-12-01
12                                                 True
13                                           2010-12-01
14                                                 True
15                                                False
16                                                    0
17    Freelance Graphic Designer,freelance graphic d...
18                                            MARKETING
19                               Amscan Grasslands Road
20                               Amscan Grasslands Road
21                                                  NaN
22                                                  NaN
23                                                False
24                               west chester, new york
25                                                  NaN
26                                                False
27                                                  NaN
28                                                False
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                        1529896663000
Name: 64995, dtype: object)
(55412, 0     b22542fc-6e03-36ad-86f9-f52103ba5a8b
1                                     1987
2                                        0
3                          Web Development
4                                 0.549404
5                     Software Engineering
6                                  0.16007
7                                 San Jose
8                            United States
9                                        5
10                                   False
11                              2013-08-01
12                                    True
13                              2014-07-01
14                                    True
15                                   False
16                                     334
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                               Capgemini
20                               Capgemini
21                                     CAP
22                                    XPAR
23                                    True
24                   hyderabad area, india
25                                      54
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000BBY7M5
32                           1538848436000
Name: 55412, dtype: object)
(20081, 0     f0c03235-e0e4-3b93-8d10-fad8de38f2f4
1                                     2001
2                                        2
3                          Web Development
4                                 0.977094
5                     Software Engineering
6                                0.0171799
7                                 San Jose
8                            United States
9                                        0
10                                   False
11                              2014-02-01
12                                    True
13                                    None
14                                   False
15                                    True
16                                    1803
17     Software Engineer,software engineer
18                              TECHNOLOGY
19                                   Apple
20                                   Apple
21                                    AAPL
22                                    XNAS
23                                    True
24                               cupertino
25                                  334220
26                                   False
27                                     NaN
28                                   False
29                                     NaN
30                                     NaN
31                            BBG000B9XRY4
32                           1538827690000
Name: 20081, dtype: object)
(64995, 0                  8964cce8-d882-3810-8465-1b5d53dbeea4
1                                                  1971
2                                                     1
3                                        Graphic Design
4                                              0.947713
5                                  Business Development
6                                             0.0188703
7                                             Avon Park
8                                         United States
9                                                     4
10                                                False
11                                           2010-12-01
12                                                 True
13                                           2010-12-01
14                                                 True
15                                                False
16                                                    0
17    Freelance Graphic Designer,freelance graphic d...
18                                            MARKETING
19                               Amscan Grasslands Road
20                               Amscan Grasslands Road
21                                                  NaN
22                                                  NaN
23                                                False
24                               west chester, new york
25                                                  NaN
26                                                False
27                                                  NaN
28                                                False
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                        1529896663000
Name: 64995, dtype: object)
(38516, 0                  26414450-03d1-3a79-b18c-2609ba12afb6
1                                                  1979
2                                                     1
3                                        Graphic Design
4                                              0.963145
5                                            Web Design
6                                             0.0141406
7                                             San Diego
8                                         United States
9                                                     4
10                                                False
11                                           2009-01-01
12                                                False
13                                           2010-01-01
14                                                False
15                                                False
16                                                  365
17    Freelance Graphic Designer,freelance graphic d...
18                                            MARKETING
19                                   KidsFest San Diego
20                                             kidsfest
21                                                  NaN
22                                        UNITED STATES
23                                                False
24                                                  NaN
25                                                   71
26                                                False
27                                                  NaN
28                                                False
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                        1530717212000
Name: 38516, dtype: object)